{% extends 'base.html' %}
{% block content %}
    <h1> register</h1>
    {% load static %}
    <h4 >мыло</h4>
    <div>
        sdafsdfsdfsdfsdfsdfsdfsd
        <br> dsdaasdasdasdasd
    </div>
    <h4 style="font-family: new ,sans-serif;">робим</h4>
    <div style="font-family: new ,sans-serif;">
        sdafsdfsdfsdfsdfsdfsdfsd
        <br> dsdaasdasdasdasd
    </div>
    <h4 style="font-family: new ,sans-serif;">где мы сидим</h4>
    <div style="font-family: new ,sans-serif;">
        sdafsdfsdfsdfsdfsdfsdfsd
        <br> dsdaasdasdasdasd
    </div>
    <img src="{% static 'images/Screenshot_8.jpg' %}" class="d-flex justify-content-center">
{% endblock %}